pipeline/2_Cookie_Authentication.json
{
	"name": "2_Cookie_Authentication",
	"properties": {
		"description": "Same as 1, but uses an HTTP resource instead of REST to leverage Cookie header for authentication.",
		"activities": [
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Authenticate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "Cookie: @{activity('Authenticate').output.ADFWebActivityResponseHeaders['Set-Cookie']}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['first_name']"
								},
								"sink": {
									"name": "first_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['last_name']"
								},
								"sink": {
									"name": "last_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['avatar']"
								},
								"sink": {
									"name": "avatar",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "SampleHTTPResource",
						"type": "DatasetReference",
						"parameters": {
							"ResourceID": {
								"value": "@pipeline().parameters.ResourceID",
								"type": "Expression"
							},
							"Parameter": {
								"value": "@pipeline().parameters.Parameter",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SampleDatalakeResource",
						"type": "DatasetReference",
						"parameters": {
							"ResourceID": {
								"value": "@pipeline().parameters.ResourceID",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get API Key",
				"description": "Web activity to get API Key from Key Vault.\n",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://samplekeyvault.vault.azure.net/secrets/UsernameSecretName?api-version=7.3",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": "",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Authenticate",
				"description": "Web activity to log in to the API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/login",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"apikey\": \"@{activity('Get API Key').output.value}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ResourceID": {
				"type": "String"
			},
			"Parameter": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Templates"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-26T14:57:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}