pipeline/3_OpenAQ_Sync.json
{
	"name": "3_OpenAQ_Sync",
	"properties": {
		"activities": [
			{
				"name": "Load until present",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set Up Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Incremental Load').StatusCode, 400)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Incremental Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "2_OpenAQ_Incremental_Load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"LocationID": {
										"value": "@pipeline().parameters.LocationID",
										"type": "Expression"
									},
									"Manufacturer": {
										"value": "@pipeline().parameters.Manufacturer",
										"type": "Expression"
									},
									"MinDate": {
										"value": "@pipeline().parameters.MinDate",
										"type": "Expression"
									},
									"MaxDate": {
										"value": "@pipeline().parameters.MaxDate",
										"type": "Expression"
									},
									"DeltaMinutes": {
										"value": "@pipeline().parameters.DeltaMinutes",
										"type": "Expression"
									},
									"StorageAccountName": {
										"value": "@pipeline().parameters.StorageAccountName",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Debug Activity",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Incremental Load",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Debug",
								"value": {
									"value": "@string(activity('Incremental Load'))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set Up Metadata",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "1_OpenAQ_Set_Up_Metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TableName": {
							"value": "@pipeline().parameters.TableName",
							"type": "Expression"
						},
						"StorageAccountName": {
							"value": "@pipeline().parameters.StorageAccountName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"LocationID": {
				"type": "string",
				"defaultValue": "232441"
			},
			"Manufacturer": {
				"type": "string",
				"defaultValue": "purpleair"
			},
			"DeltaMinutes": {
				"type": "int",
				"defaultValue": 1440
			},
			"MinDate": {
				"type": "string",
				"defaultValue": "2022-01-01"
			},
			"MaxDate": {
				"type": "string",
				"defaultValue": "2022-01-05"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "Jobs"
			},
			"StorageAccountName": {
				"type": "string",
				"defaultValue": "raqstorage"
			}
		},
		"variables": {
			"FromDate": {
				"type": "String"
			},
			"ToDate": {
				"type": "String"
			},
			"Debug": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OpenAQ"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-26T15:00:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}